div{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Public Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.first-sec{
    height: 700px;
    background-color: hsl(0, 0%, 98%);
    display: flex;
}

.first-right-sec{
    margin-left: 100px;
    padding-top: 250px;
}

.r-text{
    font-size: 50px;
    width: 400px;
}

.rr-text{
    width: 390px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
    opacity: 0.6;
}

.first-left-sec{  
    position: relative;
    overflow: hidden;
}

.big-intro{
    margin-top: -200px;
}

.sub-big-intro{
    position: absolute;
    top: -69px;
    right: -120px;
    overflow: visible;
}

.second-sec{
    background-color: hsl(240, 79%, 96%);
    height: 500px;
    padding-left: 100px;
}

.f-second-sec{
    font-size: 40px;
    padding-top: 60px;   
}

.second-s-sec{
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 13px;
    opacity: 0.2;
}

.lower-second-sec{
    display: flex;
}

.blower-sec{
    padding-top: 50px;
    margin-right: 30px;
}

.easy-icons{
    height: 55px;
}

.easy-title{
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.easy-des{
    font-size: 14.7px;
    opacity: 0.4;
    width: 255px;
    line-height: 20px;
    font-weight: bold;
}

.third-sec{
    background-color: hsl(0, 0%, 98%);
    height: 700px;
    padding-left: 100px;    
}

.sub-third-sec{
    margin-right: 100px;
    margin-top: 40px;
    display: flex;
}

.art-card{
    width: 300px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
}

.art-img{
    height: 250px;
    width: 264px;
    object-fit: cover;
}

.art-auth{
    font-size: 13px;
    padding-left: 20px;
    padding-top: 20px;
    opacity: 0.4;
}

.art-info{
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.art-des{
    font-size: 17px;
    padding-left: 20px;
    padding-top: 20px;
    opacity: 0.4; 
    padding-right: 20px;
    padding-bottom: 20px;   
}
